<footer class="footer">
    <div class="footer-row">
        &#169; {% year %} soaky audio
    </div>
    <div class="footer-row">
        <a href="https://deermichel.me">About</a>
        &bull;
        <a href="https://github.com/soakyaudio">GitHub</a>
        &bull;
        <a href="{{ '/feed.xml' | url }}">RSS</a>
    </div>
</footer>
