<footer class="footer">
    <div class="footer-row">
        <p>&#169; {% year %} soaky audio</p>
    </div>
    <div class="footer-row">
        <a href="https://deermichel.me">About</a>
        &bull;
        <a href="https://github.com/soakyaudio">GitHub</a>
    </div>
</footer>
