<header>
    <nav class="header-nav">
        <a href="{{ '/' | url }}">
            <img class="header-logo" src="/img/logo.svg" alt="soakyaudio logo">
            <b>soaky audio</b>
        </a>
        <div class="header-menu">
            <a href="{{ '/' | url }}">blog</a>
            <a href="{{ '/designer' | url }}">designer</a>
        </div>
    </nav>
</header>
