/* theme */
:root {
    --font-family: system-ui, -apple-system, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Noto Sans", sans-serif;
    --font-family-monospace: ui-monospace, "Menlo", "Consolas", "Roboto Mono", "Oxygen Mono", "Ubuntu Monospace", "Noto Mono", monospace;
    --font-size: 18px;
    --font-size-small: 14px;

    --content-width: 768px;
    --logo-size: 42px;
    --nav-height: 48px;
    --nav-width: 1024px;
    --gap: 22px;

    --accent-color: #0b72c1;
    --background-color: #fcfcfc;
    --border-color: rgba(34, 34, 34, 0.2);
    --text-color: #222;
    --text-color-secondary: rgba(34, 34, 34, 0.7);
}
@media (prefers-color-scheme: dark) {
    :root {
        --accent-color: #57a9e8;
        --background-color: #222;
        --border-color: rgba(225, 225, 225, 0.2);
        --text-color: #eee;
        --text-color-secondary: rgba(225, 225, 225, 0.7);
    }
}

/* baseline */
html,
body {
    background-color: var(--background-color);
    color: var(--text-color);
    font-family: var(--font-family);
    font-size: var(--font-size);
    line-height: 1.2;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
*:focus {
    outline: none;
}
a {
    color: inherit;
    font-weight: bold;
    text-decoration-color: var(--accent-color);
    transition: .1s ease-out;
}
a:hover,
a:focus {
    color: var(--accent-color);
}
h1 {
    font-size: 2.5rem;
    margin-bottom: var(--gap);
}
h2 {
    font-size: 1.6rem;
    padding-top: var(--gap);
}
h3 {
    font-size: 1.2rem;
    padding-top: var(--gap);
}
img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
}
ul,
ol {
    padding-left: 1.5em;
}
p,
ul,
ol {
    line-height: 1.8;
    margin: var(--gap) 0;
}
pre,
code {
    font-family: var(--font-family-monospace);
}
blockquote {
    border-left: 0.25em solid var(--border-color);
    color: var(--text-color-secondary);
    padding-left: var(--gap);
}

/* header */
.header-nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 auto;
    max-width: var(--nav-width);
    padding-bottom: var(--gap);
    padding-left: var(--gap);
}
.header-nav a {
    align-items: center;
    display: flex;
    margin-right: var(--gap);
    margin-top: var(--gap);
    text-decoration: none;
}
.header-logo {
    height: var(--logo-size);
    margin-right: var(--gap);
    width: var(--logo-size);
}
.header-menu {
    display: flex;
}
.header-menu a:hover,
.header-menu a:focus {
    text-decoration: underline;
}

/* footer */
.footer {
    color: var(--text-color-secondary);
    line-height: 1.8;
    margin: var(--gap) 0;
}
.footer-row {
    font-size: var(--font-size-small);
    text-align: center;
}
.footer-row a {
    text-decoration: none;
}
.footer-row a:hover,
.footer-row a:focus {
    text-decoration: underline;
}

/* content */
.content {
    margin: 0 auto;
    max-width: var(--content-width);
    padding: var(--gap);
}

/* image captions */
img + em {
    color: var(--text-color-secondary);
    display: block;
    text-align: center;
    margin-top: calc(var(--font-size) / 4);
}

/* anchor links */
.anchor-link {
    color: transparent;
    text-decoration: none;
}
.anchor-link:hover,
.anchor-link:focus {
    color: var(--accent-color);
}

/* tagline */
.tagline {
    color: var(--text-color-secondary);
    text-align: center;
}

/* posts list */
.posts-list time {
    color: var(--text-color-secondary);
    font-size: var(--font-size-small);
}

/* post page */
.post time {
    color: var(--text-color-secondary);
    font-size: var(--font-size-small);
}
.post-content {
    padding-top: var(--gap);
}
.post-title {
    margin-bottom: 0;
}
