<!doctype html>
<html lang="{{ meta.language }}">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <meta name="author" content="{{ author or meta.author }}">
        <meta name="description" content="{{ description or meta.description }}">
        <meta name="keywords" content="{{ keywords or meta.keywords }}">

        {% if title %}
            <title>{{ title }} - {{ meta.title }}</title>
        {% else %}
            <title>{{ meta.title }}</title>
        {% endif %}

        {% set css %}
            {% include "css/index.css" %}
            {% include "css/prism-one-dark.css" %}
        {% endset %}
        <style>
            {{ css | cssmin | safe }}
        </style>

        <link rel="icon" type="image/svg+xml" href="{{ '/img/logo.svg?v=1' | url }}" />
    </head>
    <body>
        {% include "header.njk" %}
        <main class="content">
            {{ content | safe }}
        </main>
        {% include "footer.njk" %}
    </body>
</html>
