<!doctype html>
<html lang="{{ metadata.language }}">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <meta name="author" content="{{ author or meta.author }}">
        <meta name="description" content="{{ description or meta.description }}">
        <meta name="keywords" content="{{ keywords or meta.keywords }}">

        {% if title %}
            <title>{{ title }} - {{ meta.title }}</title>
        {% else %}
            <title>{{ meta.title }}</title>
        {% endif %}

        <link rel="stylesheet" href="{{ '/css/index.css' | url }}">
    </head>
    <body>
        {% include "header.njk" %}
        <main>
            {{ content | safe }}
        </main>
        {% include "footer.njk" %}
    </body>
</html>
