---
layout: layouts/base.njk
---
<article class="post">
    <h1 class="post-title">{{ title }}</h1>
    <time datetime="{{ date | htmlDateString }}">{{ date | readableDate }}</time>
    <div class="post-content">
        {{ content | safe }}
    </div>
</article>
